*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header#header-projeto{
    width: 100%;
    height: 70px;

    background: #2C2C2C;
    box-shadow: 0px 3px 6px rgba(180, 180, 180, 0.15);

    padding-left: 80px; 
    display: flex;
    align-items: center;
}


header#header-projeto img{
    width: 130px;
    height: 57px;
}

header#header-projeto h2{
    margin-top: -8px;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;

    color: #FFFFFF;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


div#dados-input{
    width: 442px;
    height: 89vh;

    background: #4D4A4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div#dados-input label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    align-self: flex-start;
    margin-left: 80px;
}

div#dados-input input{
    margin-top: 10px;
    width: 289px;
    height: 53px;
    
    background: #FFFFFF;
    border-radius: 10px;

    outline: none;
    border: none;
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    
}

div#dados-input input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    
}


div#dados-input button{
    margin-top: 20px;
    width: 140px;
    height: 40px;

    background: #3C7E95;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;

    color: #FFFFFF;
}


form#formulario{
    display: flex;
    flex-direction: column;
}

div#mensagens{
    display: flex;
}


div#mensagens .left{
    display: flex;
    flex-direction: column;
}


div#mensagens .left .title{
    width: 302px;
    height: 65px;

    background: #3C7E95;
    border: 1px solid #000000;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

div#mensagens .left .title #enviadas{
    width: 110px;
    height: 40px;
    
    background: #5EDD22;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

div#mensagens .left .title #recebidas{
    width: 110px;
    height: 40px;
    
    background: #DD9222;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}


div#mensagens .left .lista-mensagens{
    width: 100%;
    height: 500px;
    background: #4D4A4A;
}


div#mensagens .left .lista-mensagens .mensagem{
    width: 100%;
    height: 68px;

    
    background: rgba(139, 202, 223, 0.22);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    cursor:  pointer;

    padding: 5px;
}

div#mensagens .left .lista-mensagens .mensagem h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

div#mensagens .left .lista-mensagens .mensagem span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #DCDCDC;
}


div#mensagens .right{
    display: flex;
    flex-direction: column;
}


div#mensagens .right .title{
    width: 600px;
    height: 65px;
    
    background: #3C7E95;
    border: 1px solid #000000;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

div#mensagens .right .title h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}


div#mensagens .right .title .botoes{
    display: flex;
    gap: 10px;
}

div#mensagens .right .title .botoes button{
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    cursor: pointer;
    border: none;

    background: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
}


div#mensagens .right #mensagem-aberta{
    width: 100%;
    height: 500px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}


div#mensagens .right #mensagem-aberta .dados-mensagem{
    width: 450px;
    height: 280px;
    
    background: #C8C8EA;
    border-radius: 20px;
    padding: 20px 15px;
}

div#mensagens .right #mensagem-aberta h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

div#mensagens .right #mensagem-aberta hr{
    width: 100%;
    color: grey;
}

div#mensagens .right #mensagem-aberta p{
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}


div#modal-nova-mensagem{
    
    position: absolute;
    width: 400px;
    height: 300px;
    top: 200px;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    
}

div#modal-nova-mensagem h1{
    background: #404040;
    border-radius: 20px 20px 0px 0px;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21.6667px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    padding: 10px;
}

div#modal-nova-mensagem #formulario-1{
    display: flex;
    flex-direction: column;
}

div#modal-nova-mensagem #formulario-1 .assunto{
    height: 40px;
    border-bottom: 1px solid grey;
    display: flex;
}

div#modal-nova-mensagem #formulario-1 .assunto label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

div#modal-nova-mensagem #formulario-1 .assunto input{
    border: none;
    margin-left: 5px;
    padding-left: 5px;
    outline: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

div#modal-nova-mensagem #formulario-1 textarea#campo2-f1{
    outline: none;
    border: none;
    height: 100px;
    padding: 10px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
}



div#modal-nova-mensagem #formulario-1 .botoes-f1{
    width: 100%;
    display: flex;
    padding: 0px 15px;
    justify-content: space-between;
    margin-top: 20px;
}


div#modal-nova-mensagem #formulario-1 .botoes-f1 button{
    width: 102px;
    height: 40px;
    border: none;

    background: #2D52D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

div#modal-nova-mensagem #formulario-1 .botoes-f1 button#cancelar-f1{
    background: #D62D74;
}